*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding-bottom: 3rem;
    background-color:lightgrey ;
    
}
form{
    background-color: lightskyblue;
    padding: 20pxgu;
}